In [3]:
import numpy as np
import pandas as pd
import seaborn as sns

In [6]:
btc = pd.read_csv("BTC-USD.csv")  # Read in file

In [7]:
btc

,Date,Open,High,Low,Close,Adj Close,Volume
0,2017-01-11,908.114990,919.447998,762.765015,777.757019,777.757019,310928992
1,2017-01-12,775.177979,826.245972,755.755981,804.833984,804.833984,222326000
2,2017-01-13,803.737000,829.000977,780.002991,823.984009,823.984009,168968000
3,2017-01-14,825.142029,835.085022,812.455994,818.411987,818.411987,93063296
4,2017-01-15,818.142029,823.307007,812.870972,821.797974,821.797974,71013600
...,...,...,...,...,...,...,...
1822,2022-01-07,43153.570313,43153.570313,41077.445313,41557.902344,41557.902344,84196607520
1823,2022-01-08,41561.464844,42228.941406,40672.277344,41733.941406,41733.941406,28066355845
1824,2022-01-09,41734.726563,42663.949219,41338.160156,41911.601563,41911.601563,21294384372
1825,2022-01-10,41910.230469,42199.484375,39796.570313,41821.261719,41821.261719,32104232331
1826,2022-01-11,41778.222656,42332.832031,41474.167969,41474.167969,41474.167969,31108497408

In [27]:
btc = btc[['Date', 'Adj Close', 'Volume']]  # Select only needed columns

btc = btc.sort_values(by=['Date'], ascending = False)  # Sort data by date descending

In [28]:
btc['Close_-1'] = btc['Adj Close'].shift(-1)  # Create a new column showing previous Adj Close

In [29]:
btc

            Date     Adj Close       Volume      Close_-1
1826  2022-01-11  41474.167969  31108497408  41821.261719
1825  2022-01-10  41821.261719  32104232331  41911.601563
1824  2022-01-09  41911.601563  21294384372  41733.941406
1823  2022-01-08  41733.941406  28066355845  41557.902344
1822  2022-01-07  41557.902344  84196607520  43160.929688
...          ...           ...          ...           ...
4     2017-01-15    821.797974     71013600    818.411987
3     2017-01-14    818.411987     93063296    823.984009
2     2017-01-13    823.984009    168968000    804.833984
1     2017-01-12    804.833984    222326000    777.757019
0     2017-01-11    777.757019    310928992           NaN

[1827 rows x 4 columns]

            Date     Adj Close       Volume      Close_-1
1826  2022-01-11  41474.167969  31108497408           NaN
1825  2022-01-10  41821.261719  32104232331  41474.167969
1824  2022-01-09  41911.601563  21294384372  41821.261719
1823  2022-01-08  41733.941406  28066355845  41911.601563
1822  2022-01-07  41557.902344  84196607520  41733.941406
...          ...           ...          ...           ...
4     2017-01-15    821.797974     71013600    831.533997
3     2017-01-14    818.411987     93063296    821.797974
2     2017-01-13    823.984009    168968000    818.411987
1     2017-01-12    804.833984    222326000    823.984009
0     2017-01-11    777.757019    310928992    804.833984

[1827 rows x 4 columns]